* {
  box-sizing: border-box;
  color: var(--almostwhite);
}
img {
  max-width: 100%;
}

html,
body {
  height: 100%;
}

.easter {
  display: none;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: none;
  /* display: flex; */
}

#pagewrapper {
  width: 90%;
  margin: 0 auto;
}

:root {
  --lightblue: #6c90b4;
  --darkerblue: #154b81;
  --bordercolor: #476178;
  --transparentbox: #5a7896b0;
  --lesstransparentbox: #5a7896b9;
  --box: #5a7896;
  --almostwhite: #e1dfdf;
  --darkgrey: #999d9f;
  --lightblack: #373737;
}

#particles-js {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-color: var(--darkerblue);
  /* background-color: #6c90b4; */
}

section {
  height: fit-content;
  width: fit-content;
}

p,
li {
  color: var(--almostwhite);
  font-family: "Quicksand", sans-serif;
}

#port-nav {
  top: 0;
  width: 100%;
  background-color: var(--transparentbox);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  font-size: 2.2rem;
  height: 8vh;
  text-align: center;
}

#nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--transparentbox);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  font-size: 2.2rem;
  height: 8vh;
  text-align: center;
}

#resume {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
}

#download {
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  margin: 0;
  width: 100%;
  margin-top: 5vh;
}

#down {
  background-color: var(--lesstransparentbox);
  padding: 2vh;
}

#letter {
  background-color: var(--lesstransparentbox);
  padding: 2vh;
}

#resume p {
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.prointro {
  width: 50%;
  margin: 3vh;
  padding: 2vw;
  display: flex;
  justify-content: center;
  background-color: var(--transparentbox);
}

.slider {
  width: 100%;
  max-width: 1920px;
  height: 840px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 1920px;
  height: 840px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel {
  display: grid;
  height: 50%;
  width: 90%;
}

.explanation {
  width: 100%;
  margin: 0;
  justify-content: center;
  display: flex;
}

.explanation {
  font-size: 1.25rem;
}

.explanation-wrapper {
  width: 50%;
  flex-direction: column;
  background-color: var(--box);
  padding: 2vh;
  margin: 5vh;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.code-projects {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2vh;
  width: 100%;
}

.about-wrapper {
  width: 40%;
}

#delve,
#EECU,
#layout,
#cownect4,
#essay,
#delvetext,
#coursera {
  background-color: var(--transparentbox);
  padding: 2vh;
  width: 40%;
  margin-top: 4vh;
}

#delve h2,
#EECU h2,
#layout h2,
#cownect4 h2,
#essay h2,
#delvetext h2,
#coursera h2 {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

#prointro-wrapper,
#writingintro-wrapper,
#personalintro-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#writingintro-wrapper {
  width: 100%;
}

.thank-you {
  font-size: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--transparentbox);
  padding: 5vh;
}

.thankyou-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

#maillink {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#writingprojects {
  margin-top: 4vh;
}

#projects h2 {
  font-size: 1.5rem;
}

#aboutme-content {
  margin-top: 5vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#carousel-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

#hobbies {
  padding: 5vh;
  background-color: var(--transparentbox);
  width: 100%;
  margin: 2%;
}

#postPlan {
  padding: 5vh;
  background-color: var(--transparentbox);
  width: 100%;
  margin: 2%;
}

#big-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

#Achievements {
  padding: 5vh;
  background-color: var(--transparentbox);
  width: 100%;
  margin: 2%;
}

#aboutimage {
  align-items: center;
  display: flex;
  justify-content: center;
}

.transparentbox:hover {
  animation: darkener 2s;
  animation-fill-mode: forwards;
  /* background-color: var(--lesstransparentbox); */
}

#aboutimage-wrapper {
  width: 50%;
  height: 92vh;
  display: flex;
  align-items: center;

  justify-content: center;
}

#resume-contact {
  list-style: none;
  font-size: 1.5rem;
}

#contactinfo {
  margin-top: 5vh;
  width: 100%;
    display: flex;
  justify-content: center;
}

#tent-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.contactimg {
  padding: 2vh;
  width: 20%;
  background-color: var(--box);
}

#line {
  width: 100%;
  border: 1px solid white;
}

#resume-wrapper {
  background-color: var(--transparentbox);
  padding: 5vw;
  margin-top: 5vh;
}

@keyframes darkener {
  from {
    background-color: var(--transparentbox);
  }
  to {
    background-color: var(--box);
  }
}

h3 {
  font-size: 2rem;
}

#nav2 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

#copyright {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  margin-top: 7vh;
}

#portfolio2 {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

footer {
  width: 100%;
  background-color: var(--transparentbox);
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  height: 20vh;
  text-align: center;
  margin-top: 10vh;
  align-self: flex-end;
  flex-shrink: 0;
}

footer a {
  margin-top: 1vh;
}

#nav h1,
#port-nav h1 {
  font-size: 2.2rem;
}

#nav a,
#port-nav a {
  padding-left: 1vw;
  padding-right: 1vw;
}

#picture {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-top: 5vh;
  width: 40%;
  padding-left: 10%;
}

#picture img {
  height: 70vh;
  border: 6px solid var(--bordercolor);
  border-radius: 5% 5%;
}

#intro {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

#introText {
  font-size: 2rem;
}

#name {
  font-size: 2.5rem;
  font-weight: bold;
}

#opener {
  background-color: var(--transparentbox);
  height: fit-content;
  padding: 2vw;
  justify-content: flex-start;
  border: 6px solid var(--bordercolor);
  border-radius: 8px 8px;
}

#introWrapper {
  display: flex;
  /* justify-content: center; */
  padding-top: 20vh;
  width: 60%;
}

#toolWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--box);
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
  border: 6px solid var(--bordercolor);
  border-radius: 8px 8px;
}

#tools h1 {
  text-decoration: underline;
  background-color: var(--box);
  justify-content: center;
  display: flex;
  width: 100%;
}

#tools {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-top: 5vh;
}

#figma,
#vs,
#netlify,
#github {
  width: 15vw;
  background-color: var(--box);
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 6px solid var(--bordercolor);
  border-radius: 8px 8px;
  padding: 2vh;
  justify-content: center;
}

#toolsWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
}

.logo {
  width: 75%;
  height: 75%;
}

.logocont {
  /* padding: 2%; */
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
  width: 256px;
}

@media (max-width:1501px) {
  footer a,
  footer li {
    font-size: 1em;
  }  
  #figma, #vs, #netlify, #github {
    width: 100%;
    flex-wrap: wrap;
  }
  #toolswrapper {
    display: block;
  }
}

@media (max-width:1151px) {
  #aboutimage-wrapper {
    display: none;
  }

  #big-wrapper {
    width: 100%;
  }

  #about-wrapper {
    width: 100%;
  }

#aboutme-content {
  width: 100%;
}
#introWrapper {
  padding-top: 10vh;
}
}



@media (max-width:1281px) {
  #introWrapper {
    width: 100%;
  }
  #picture {
    display: none;
  }
 }


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }



@media (max-width:961px)  { 
  .thank-you {
    width: 80%;
    font-size: 1.2em;
  }
 }

@media (max-width:751px) {
  footer {
    font-size: 1em;
  }
}

@media (max-width:685px)  { 
  .thank-you {
    font-size: 1em;
    width: 80%;
  }

  #tent-wrapper {
    width: 100%;
  }
}

@media (max-width:551px) {
  #carousel {
    display: none;
  }

  #introText {
   font-size: 1.5em;
  }

}

@media (max-width:481px)  {
  .thank-you {
    font-size: .7em;
  }
  .contactimg {
    width: 25%;
  }
  footer {
    font-size: 0.7em;
  }
  #introText {
    font-size: 1em;
   }

 }
 

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }





