:root {
  --lightblue: #6c90b4;
  --darkerblue: #486c90;
  --almostwhite: #e1dfdf;
  --darkgrey: #999d9f;
  --lightblack: #373737;
}

#particles-js {
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-color: #6c90b4;
}
/* 
footer {

} */